<!-- empty div for spacing -->
<div class="tenth_width float_left full_view_height"></div>
<!-- empty div for spacing -->

<div class="four_fifth_width float_left">

  <h2 id="new_garment_title">Admin</h2>
  <p>The following garments need measurements:</p>
  <% @garments.each do |garment| %>
    <a href="users/<%= garment.user_id %>/garments/<%= garment.id %>" class="garment">
      <p><%= garment.title %></p>
    </a>
  <% end %>
</div>


<!-- empty div for spacing -->
<div class="tenth_width float_left full_view_height"></div>
<!-- empty div for spacing -->
