<header>
  <div id="app-title" class="caps">
    <h1>PhotoFit</h1>
    <span>By <img src="/assets/logo.png" alt=""></span>
  </div>
  <h2>My saved garments</h2>
  <%= link_to "Add New Garment", new_user_garment_path(@user) %>
</header><!-- /header -->

<div id="show-page-body" class="page-body">

  <% @garments.each do |garment| %>
    <p><%= link_to garment.title, user_garment_path(garment) %></p>
    <hr>
  <% end %>

</div>
