/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* dark blue #000033 */
/* red #de0421 */
/* light blue rgba(216, 237, 252, 0.5); */



/* ############################## */
 /* START GENERAL ELEMENT LEVEL STYLES */
 /* ########################### */

body {
  margin: 0;
  font-family: raleway;
  color: #000033;
  font-size: 14px;
}

.caps {
  text-transform: uppercase;
}

#container {
  width: 348px;
  margin: 0 auto;
  overflow: auto;
}

footer {
  text-align: center;
  margin-top: 300px;
  color: gray;
  font-size: 12px;
}

.red {
  color: #de0421
}

.hidden {
  display: none;
}

.clear-float {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.column-4 {
  width: 25%;
}

.alegreya {
  font-family: alegreya;
}

.overflow {
  overflow: auto;
}


 /* ############################## */
 /* HEADER STYLES */
 /* ########################### */

header {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-family: alegreya;
}

#app-title {
  margin-top: 30px;
  margin-bottom: 40px;
}

#app-title h1 {
  font-size: 56px;
  margin: 0;
}

#app-title img {
  width: 144px;
  vertical-align: middle;
  margin-left: 10px;
}

#app-title span {
  display: inline-block;
  vertical-align: -5px;
}

header h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

header p {
  font-family: raleway;
  width: 70%;
  margin: 0 auto;
  font-size: 12px;
}

header a {
  color: #de0421;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #de0421;
  font-size: 12px;
}



 /* ############################## */
 /* FORM STYLES */
 /* ########################### */

.user-form {
  margin-top: 40px;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.user-form-field {
  box-sizing: border-box;
  width: 90%;
  margin-bottom: 25px;
  background-color: lightgray;
  border-style: none;
  height: 40px;
  border-radius: 4px;
  padding-left: 10px;
}

.user-form-field::placeholder {
  color: #000033;
  opacity: .5;
}

textarea.user-form-field {
  height: 90px;
  padding-top: 15px;
}

.button {
  height: 50px;
  width: 100%;
  color: white;
  background-color: #000033;
  border-radius: 7px;
  text-transform: uppercase;
  width: 90%;
  font-size: 12px;
  -webkit-appearance: none;
}

div.button {
  line-height: 50px;
  margin: 0 auto;
}

.required {
  color: #de0421;
  display: inline-block;
  margin-left: 5px;
}


/* next */


.page-body {
  width: 80%;
  margin: 0 auto;
}

#show-page-body p {
  margin-top: 30px;
  margin-bottom: 30px;
}


#top-nav{
  width: 100%;
  position: relative;
  height: 30px;
  text-align: center;
  font-size: 12px;
}

#top-nav a {
  position: absolute;
  padding: 15px;
  font-weight: bold;
  top: 5px;
  color: #000033;
  text-transform: uppercase;
}

#logout-button {
  right: 0px;
  padding-left: 0;
}

#profile-button {
  left: 0px;
}

.garment-image {
  width: 100%
}

.edit-button {
  width: 30%;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 5px;
}

.edit-button a {
  color: white;
  text-decoration: none;
}

#edit-garment-button {
  background-color: #000033;
  float: left;
}

#delete-garment-button {
  background-color: lightgray;
  float: right;
}

#new-garment-create {
  margin-top: 20px;
}

#new-garment-image {
  text-align: left;
}

#new-measurements-page{
  overflow: auto;
}

#new-measurements-form {
  width: 25%;
  float: left;
}

#new-measurements-image {
  width: 75%;
  float: right;
}

canvas {
  width: 600px;
  height: 800px;
  background-size: cover;
}

/* ############################## */
 /* START MEASUREMENT TOOL STYLES */
 /* ########################### */

.measurement-button {
    display: inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

.measurement-button:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

/* ############################## */
 /* END MEASUREMENT TOOL STYLES */
 /* ########################### */

 #measurements-group-1 {
  width: 50%;
  float: left;
 }

 #measurements-group-2 {
  float: right;
  width: 50%;
 }

 #garment-notes {
  clear: both;
  margin-top: 20px;
 }

 #measurement-columns {
  font-size: 13px;
  margin-left: 10%;
 }

 #measurements-header {
  margin-bottom: 0;
 }
